{% extends 'doctor_app/base.html' %}
{% load static %}

{% block zawartosc %}
  <h4> <strong>{{ weather.city}}</strong>
       <span class="subtitle">{{ weather.temperature }}° C</span></h4>
        <h3><i>Progress is impossible without change,
        and those who cannot change their minds,
            cannot change anything. (George Bernard Show)</i></h3>

<img src="../../static/diagram.png" alt="Diagram" title="PostgeSQL database diagram" width="1036" height="422">

    <div class="div_a"> Design assumptions:
    <ol >
    <li> Patient and Specialist may update its own data. </li>
    <li> Access to application features depends on permissions.</li>

    </ol>

    <a href="https://trello.com/b/TTNnCYLJ/project"  target="_blank">My Trello </a></li>
    </div>

        <h3><i>Co ważniejsze dla sukcesu, talent czy pracowitość?
    A co ważniejsze w rowerze, przednie czy tylne koło? (George Bernard Show)</i> </h3>



{% endblock %}


