{% extends 'doctor_app/base.html' %}
{% load static %}

{% block zawartosc %}

    <h1>Co ważniejsze dla sukcesu, talent czy pracowitość?</br>
        A co ważniejsze w rowerze, przednie czy tylne koło?</h1>
                    <h2>George Bernard Show</h2>

    Założenia projektowe:
<img src="../../static/diagram.png" alt="Diagram" title="Diagram bazy danych utworzonej w PostgreSQL" width="1100" height="600">


    <ol >
    <li> Pacjent może zmienić poprzez aplikację własne dane. </li>
    <li> Lekarz może zmienić poprzez aplikację własne dane.</li>

    </ol>
{% endblock %}