{% extends 'doctor_app/base.html' %}
{% block zawartosc %}
    <b>{{ message }}</b>
    </br>
    </br>
     <table>
  <tr>
      <th> <i></i>day of week</i> </th>
      <th> clinic </th>
      <th> specialist </th>
      <th> from time </th>
      <th> to time </th>
      {% for obj in object_list %}
  </tr>
    <th>{{ obj.day_of_week }}</th>
    <th> {{ obj.clinic }}</th>
          <th> {{ obj.specialist }} </th>
          <th> {{ obj.sch_from }} </th>
          <th> {{ obj.sch_to }} </th>
  </tr>
         {% endfor %}
</table>
{% endblock %}
