{% extends 'doctor_app/base.html' %}
{% block zawartosc %}
    <b>{{ message }}</b>
    </br>
    </br>
     <table>
  <tr>
      <th> <i></i>SPECIALIST</i> </th>
      <th> SPECIALIZATION </th>
      <th>Details</th>
      {% for obj in object_list %}
  </tr>
    <th>
        <a href="{% url 'modify_specialist' %}">{{ obj }}</a>
    </th>
          <th> {{ obj.specialization }}</th>
     <th>
        <p><a href="{{ obj.get_absolute_url }}">Detail</a>
     </th>
  </tr>
         {% endfor %}
</table>
{% endblock %}

