
{#<div id="viewport">#}
  <!-- Sidebar -->
<div id="sidebar" xmlns="http://www.w3.org/1999/html">
    <header>
        <a href="{% url 'aboute' %}"><p>Medical Application</p></a>
    </header>
    <div id="li_a">

      <ul>

          <li>
            <a href="{% url 'modify_user' %}">Modify user</a></li>
          </li>
          <li><a href="{% url 'p_registration' %}">REGISTRATION FORM</a></li>
          <li><a href="{%  url 'add_appointment' %}">Add appointment</a></li>
          <li><a href="{%  url 'list_clinics' %}">CLINICS</a></li>
          <li><a href="{%  url 'list_patients' %}">PATIENTS</a></li>
          <li><a href="{%  url 'list_specialists' %}">Specialists</a></li>
          <li><a href="{%  url 'list_schedules' %}">Schedules</a></li>
          <li><a href="{%  url 'list_appointments' %}">Appointments</a></li>
          <li><a href="{%  url 'create_schedule' %}">New schedule</a></li>
          <li><a href="{%  url 'create_specialist' %}">New specialist</a></li>
          <li><a href="{%  url 'list_specializations' %}">Specializations</a></li>
          <li><a href="{%  url 'list_types' %}">Appointment types</a></li>
          <li><a href="/admin/">ADMIN</a></li>
          {% if perms.doctor_app.view_schedule  and perms.doctor_app.view_schedule %}
              <li><a href="{%  url 'list_specialist_schedules' %}">Specialist schedules</a>
              {% endif %}
           {% if user.is_authenticated %}
              <li><a href="{%  url 'list_user_appointments' %}">User appointments</a>
          {% endif %}

          </ul>

    </div>
  </div>

  <div id="container">
        <div style="display: flex; position: relative; text-align: left; margin-left: 1500px">

                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">LOGOUT</a>
                {% else %}
                    <h3><a href="{% url 'login' %}">LOGIN</a></h3>
        {% endif %} </div>

     </div>
    <div class="container-fluid">

    </div>

  </div>

</div>
