@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#content {
  width: 100%;
  position: relative;
  margin-left: 300px;
  line-height: 30px;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  font-size: 20px;
  margin-left: -250px;
  overflow-y: auto;
  background: linear-gradient(to bottom, #1388c5 12%, #0d1c4d 100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*#sidebar header {*/
/*  background-color: #348034;*/
/*  font-size: 30px;*/
/*    padding: 10px;*/
/*  line-height: 35px;*/
/*  text-align: center;*/
/*}*/

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#content .nav{
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border: 10px;
}

#sidebar .nav{
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border: 10px;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 18px;
  padding: 26px 10px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 1px;
}

ul {
  list-style-type: none;
  padding: 16px 24px;
}

li {
  margin-bottom: 5px;
  padding: 5px 10px;
}

#li_a  li a{
  margin-bottom: 5px;
  color: white;
  padding: 6px 4px;
}


table, th, td {
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid green;
  border-collapse: collapse;
}

.ol li{
  margin-bottom: 5px;
  padding: 6px 4px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 300px;
    font-size: 15px;
    padding: 5px;
    line-height: 35px;
}

 div .div_a {
    line-height: 5px;
}